<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app" >   
    <div id="inputBlock">
        <div class="input-container">
            <input placeholder="輸入代辦事項" type="text" v-model="newtodoText" @keyup.enter="addList">
            <button @click="addList"><i class="fa-solid fa-plus"></i></button>
        </div>
    </div>
    <div id="recordBlock">
        <div id="tabsBlock" >
            <div id="tabs1" class="tabs" @click="setFilter('all')" :style="{ borderBottom: filter === 'all' ? '2px solid #1e81b0' : '2px solid gray' }" >全部</div>
            <div id="tabs2" class="tabs" @click="setFilter('completed')" :style="{ borderBottom: filter === 'completed' ? '2px solid #1e81b0' : '2px solid gray' }">已完成</div>
            <div id="tabs2" class="tabs" @click="setFilter('pending')" :style="{ borderBottom: filter === 'pending' ? '2px solid #1e81b0' : '2px solid gray' }">待完成</div>
        </div>
        <ul>
            <li>
                <span class="titles">確認完成</span>
                <span class="titles">代辦事項</span>
                <span class="titles">紀錄日</span>
                <span class="titles">完成日</span>
                <span class="titles">狀態</span>
                <span class="titles">刪除</span>
            </li>
            <li v-for="(todo,index) in filtertodos" :key="todo.id">
                <span><i id="checkIcon" @click="changeStatus(index)" class="fa-solid fa-check" :style="{color:todo.completed ? '#19a470' : 'gray' }"></i></span>
                <span >{{todo.list}}</span>
                <span >{{todo.createdAt}}</span>
                <span >{{todo.finishAt}}</span>
                <span >{{todo.completed ? '已完成':'未完成'}}</span>
                <span ><i id="trashIcon" class="fa-solid fa-trash" @click="removeTodo(index)"></i></span>
            </li>
        </ul>
    </div>
</div> 
    
</div>    
<script src="main.js" ></script>
</body>
</html>